body {
  background-image: url(../images/1624.jpg);
  background-size: cover;
  background-position: center;
}

ul li {
  list-style-type: none;
  line-height: 0;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  background-color: pink;
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 65px;
}

#score-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid black;
}

.list-container ul li:nth-child(odd) {
  background-color: rgb(230, 135, 135);
  height: 10px;
  padding-top: 20px;
}

.scoreItem {
  font-size: 20px;
  padding: 10px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

form input {
  border: 3px solid black;
}

button {
  border: 3px solid black;
  box-shadow: 3px 3px;
}

form input,
form button {
  padding: 5px;
}

.error-msg {
  color: red;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 170px;
  }
}
